mixin content-header()
  +b.SECTION.content-header
    +e.H1.title Заголовок
    +e.desc
      +e.H2.subtitle Заголовок 
      +e.P.text
        | С самых первых дней принятия правления парижского дома моды, Карол Лим и Хумберто Леон стремятся сохранить
        | и по собственному развить этот яркий, свободный дух бренда, который заложил основатель фирмы Кензо Такада.
        | С самых первых дней принятия правления парижского дома моды, Карол Лим и Хумберто Леон стремятся сохранить
        | и по собственному развить этот яркий, свободный дух бренда, который заложил основатель фирмы Кензо Такада.