.cat-content {
  width: auto;
  flex: 1 1 auto;
  margin-bottom: 35px;
  
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start;
}

.cat-content .pr-card {
  width: 25%;
  max-width: 50%;
}


@media (max-width: 1240px) {
  .cat-content .pr-card {
    width: 30%;
  }
}

@media (max-width: 480px) {
  .cat-content .pr-card {
    width: 50%;
  }
}

@media (max-width: 360px) {
  .cat-content .pr-card {
    width: 100%;
    max-width: 100%;
  }
}