mixin main-nav()
  +b.NAV.main-nav
    +e.UL.list
      +e.LI.item
        +e.A.link(href="#") Для него
      +e.LI.item
        +e.A.link.active.clicked(href="#") Для нее
      +e.LI.item
        +e.A.link(href="#") Бренды