mixin third-nav()
  +b.DIV.third-nav
    +e.inner
      +e.column
        +e.UL.list 
          +e.LI.title Одежда
          +e.LI.item
            +e.A.link(href="#") Все категории
          +e.LI.item
            +e.A.link(href="#") Платья
          +e.LI.item
            +e.A.link(href="#") Пальто
          +e.LI.item
            +e.A.link(href="#") Пуховики
          +e.LI.item
            +e.A.link(href="#") Куртки
          +e.LI.item
            +e.A.link(href="#") Парки
          +e.LI.item
            +e.A.link(href="#") Юбки
          +e.LI.item
            +e.A.link(href="#") Брюки
          +e.LI.item
            +e.A.link(href="#") Блузы и рубашки
          +e.LI.item
            +e.A.link(href="#") Деним
        +e.UL.list
          +e.LI.item
            +e.A.link(href="#") Свитеры и трикотаж
          +e.LI.item
            +e.A.link(href="#") Спортивная одежда
          +e.LI.item
            +e.A.link(href="#") Комбинезоны
          +e.LI.item
            +e.A.link(href="#") Топы
          +e.LI.item
            +e.A.link(href="#") Нижнее белье
          +e.LI.item
            +e.A.link(href="#") Распродажа
          +e.LI.item
      +e.column
        +e.UL.list
          +e.LI.title Основа основ
          +e.LI.item
            +e.A.link(href="#") Стиль SS17
          +e.LI.item
            +e.A.link(href="#") Новые имена
          +e.LI.item
            +e.A.link(href="#") Бестселлеры
          +e.LI.item
            +e.A.link(href="#") Одежда для фитнеса
          +e.LI.item
            +e.A.link(href="#") Выход в свет
          +e.LI.item
            +e.A.link(href="#") Каникулы
          +e.LI.item
            +e.A.link(href="#") Сдержаннный стиль
          +e.LI.item
      +e.column
        +e.UL.list
          +e.LI.title Актуально
          +e.LI.item
            +e.A.link(href="#") Богемный стиль
          +e.LI.item
            +e.A.link(href="#") Идеальное летнее платье
          +e.LI.item
            +e.A.link(href="#") Тренд: мюли
          +e.LI.item
            +e.A.link(href="#") Пляжный сезон
          +e.LI.item
            +e.A.link(href="#") Миниатюрные сумки
          +e.LI.item
 