.third-nav {
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 40px;
  left: 0;
  right: 0;
  padding: 25px 0 40px;
  background-color: #f3f3f3;
  
  font-family: $ptsans;
  
  transform: scaleY(0);
  transform-origin: top left;
  transition: transform 300ms ease;
}

.secondary-nav__item:hover .third-nav {
  transform: scaleY(1);
}

.third-nav__inner {
  padding: 0 50px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.third-nav__column {
  display: flex;
  flex-flow: row nowrap;
  margin-right: 60px;
  
  &:last-child {
    margin-right: 0;
  }
}

.third-nav__list {
  padding: 0;
  list-style: none;  
  
  color: #242424;
  font-size: 16px;
  line-height: 24px;
  
  &:nth-child(n+2) {
    padding-top: 25px;
    margin-left: 60px;
  }
}

.third-nav__title {
  font-weight: 700;
  text-transform: uppercase;
}

.third-nav__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #242424;
  text-decoration: none;
  
  transition: color 300ms ease;
  
  &:hover,
  &:focus {
    color: $theme-color;
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  
  .secondary-nav__item:hover .third-nav {
    transform: none;
  }
  
  .third-nav {
    display: none;
  }
  
  .third-nav__inner {
    display: block;
  }
  
  .third-nav__column {
    display: block;
    margin-right: 0;
    margin-bottom: 25px;
  }
  
  .third-nav__list {
    display: flex;
    flex-flow: row wrap;
    
    &:nth-child(n+2) {
      padding-top: 0;
      margin-left: 0;
    }
  }
  
  .third-nav__item {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .third-nav__title {
    width: 100%;
    margin-bottom: 10px;
  }
}
