mixin main-categories()
  +b.SECTION.main-categories
    +e.row.--low
      +e.A.item(href="#")
        +e.item-body.--low
          +e.title.decor Свитшоты
          +e.SPAN.text
          +e.SPAN.text.--small
      +e.A.item(href="#")
        +e.item-body.--low
          +e.title.decor Джинсы
          +e.SPAN.text
          +e.SPAN.text.--small
      +e.A.item(href="#")
        +e.item-body.--low
          +e.title.decor Коктейльные платья
          +e.SPAN.text
          +e.SPAN.text.--small
      +e.A.item(href="#")
        +e.item-body.--low
          +e.title.decor Юбки
          +e.SPAN.text
          +e.SPAN.text.--small
    +e.row.--high
      +e.item(href="#")
        +e.item-body.--high
          +e.title Stella Mccartney
          +e.SPAN.text.--big.decor 70%
          +e.SPAN.text.--small
      +e.A.item(href="#")
        +e.item-body.--high
          +e.title Bluemarine
          +e.SPAN.text--big.decor 70%
          +e.SPAN.text.--small
      +e.A.item(href="#")
        +e.item-body.--high
          +e.title Джинсы
          +e.SPAN.text.decor от 1500 р
          +e.SPAN.text.--small 7 for all mankin, philipp plein, just cavalli, d&g , Liu-Jo, John Galliano
      +e.A.item(href="#")
        +e.item-body.--high
          +e.title Платья
          +e.SPAN.text.decor от 1500 р
          +e.SPAN.text.--small Moschino Blumarine M.S.G.M Alice and Olivia, Philipp Plein, Frankie Morello, Iceberg