mixin about()
  +b.SECTION.about 
    +e.H2.title Добро пожаловать в рай для шопоголиков!
    +e.P.text.
      Вы много слышали о европейских аутлетах, даже планировали shopping-маршрут к местам грандиозных скидок и, конечно же, мечтали о покупках настоящих брендовых вещей по невероятно низким ценам.
    +e.P.text.--highlight.--big.
      Но теперь… Забудьте об этом! 
    hr
    +e.P.text.
      Мы с уверенностью заявляем: отныне ваш единственно верный модный маршрутза premium-марками по самым низким ценам — интернет-магазин shopingood.com!
    +e.P.text.--highlight.
      В любую минуту, 24 часа в сутки, 7 дней в неделю, 365 дней в году!
    +e.advantages
      +e.column Сейчас Вы сами в этом убедитесь. Shoppingood - это:
      +e.column
        +e.UL.advantages-list
          +e.LI.advantages-item потрясающий портфель брендов
          +e.LI.advantages-item 100% оригинальности
          +e.LI.advantages-item гарантия ВСЕГДА низкой цены
          +e.LI.advantages-item обновление коллекции каждые 3 дня
          +e.LI.advantages-item работа в формате 24/7/365
    +e.P.text(style="font-size: 22px") Вы уже в предвкушении грандиозного шопинга?!
    +e.P.text Модные и дерзкие, позвольте озвучить еще несколько важных аргументов. 
    +e.article 
      p.
        Много брендовой одежды и обуви, дизайнерских сумок и стильных аксессуаров из Европы. Только оригиналы! Никаких реплик и вычурных китайских поделок. Никаких дешевых тканей и доморощенного азиатского дизайна. Только 100% европейское качество.
      p.
        И самое главное — всегда низкие цены! Мы ведь обещали, что Вы попадете в рай для шопоголиков? Где лучшие образцы высокой моды в 2, а то и в 3 раза дешевле! Такого модные магазины Ставрополя себе не могут позволить.
      p.
        Много брендовой одежды и обуви, дизайнерских сумок и стильных аксессуаров из Европы. Только оригиналы! Никаких реплик и вычурных китайских поделок. Никаких дешевых тканей и доморощенного азиатского дизайна. Только 100% европейское качество.
      p.
        И самое главное — всегда низкие цены! Мы ведь обещали, что Вы попадете в рай для шопоголиков? Где лучшие образцы высокой моды в 2, а то и в 3 раза дешевле! Такого модные магазины Ставрополя себе не могут позволить.
    hr














