mixin proposal()
  +b.SECTION.proposal
    +e.H2.title Возможно вам понравяться эти предложения
    +e.content
      +pr-card("", "#", "images/best2.jpg", "Платье-кимоно<br><small>с комбинированным принтом</small>", "Alexander McQuee", "160 000р", "60 000р")
      +pr-card("", "#", "images/best1.jpg", "Платье", "Alexander McQuee", "160 000р", "60 000р")
      +pr-card("", "#", "images/best3.jpg", "Платье", "Alexander McQuee", "160 000р", "60 000р")
      +pr-card("", "#", "images/best4.jpg", "Платье", "Alexander McQuee", "160 000р", "60 000р")
      +pr-card("", "#", "images/best5.jpg", "Платье", "Alexander McQuee", "160 000р", "60 000р")