mixin brands()
  +b.SECTION.brands
    +e.H2.title Бренды
    +e.list
      +e.item
        +e.IMG.img(src="images/brands1.png")
      +e.item
        +e.IMG.img(src="images/brands2.png")
      +e.item
        +e.IMG.img(src="images/brands3.png")
      +e.item
        +e.IMG.img(src="images/brands4.png")
      +e.item
        +e.IMG.img(src="images/brands5.png")
      +e.item
        +e.IMG.img(src="images/brands6.png")
      +e.item
        +e.IMG.img(src="images/brands7.png")
      +e.item
        +e.IMG.img(src="images/brands8.png")
      +e.item
        +e.IMG.img(src="images/brands9.png")
      +e.item
        +e.IMG.img(src="images/brands1.png")
      +e.item
        +e.IMG.img(src="images/brands2.png")
      +e.item
        +e.IMG.img(src="images/brands3.png")
      +e.item
        +e.IMG.img(src="images/brands4.png")
      +e.item
        +e.IMG.img(src="images/brands5.png")
      +e.item
        +e.IMG.img(src="images/brands6.png")
      +e.item
        +e.IMG.img(src="images/brands7.png")
      +e.item
        +e.IMG.img(src="images/brands8.png")
      +e.item
        +e.IMG.img(src="images/brands9.png")
