mixin gallery()
  +b.gallery
    +e.main-image
      +e.main-image-item
        img(src='images/product-image.jpg', alt='')
      +e.sale -50%
    +e.secondary
      +e.secondary-item
        img(src='images/best1.jpg', alt='')
      +e.secondary-item
        img(src='images/best2.jpg', alt='')
      +e.secondary-item
        img(src='images/best3.jpg', alt='')
      +e.secondary-item
        img(src='images/product-image.jpg', alt='')
