mixin secondary-nav()
  +b.UL.secondary-nav
    +e.LI.item
      +e.A.link(href="#") Распродажа
    +e.LI.item
      +e.A.link(href="#") Дизайнеры
    +e.LI.item
      +e.A.link(href="#") Одежда
    +e.LI.item
      +e.A.link(href="#") Обувь
    +e.LI.item
      +e.A.link(href="#") Сумки
    +e.LI.item
      +e.A.link(href="#") Аксессуары
    +e.LI.item
      +e.A.link(href="#") Украшения
    +e.LI.item
      +e.A.link(href="#") Статьи